body
    form
        p Enter your name:
        input
        p Enter your email:
        input
        p Enter your age:


        select
            each value in number
                option= value.index

        button Submit!
