style
    include style.css
table(action='editUser' method='get')
    tr
        th User
        th Password
        th Email
        th Age

    tr
        each user in users
            td= user.name
                button edit
                button delete
    tr
        each user in users
            td= user.password
                button edit
                button delete
    tr
        each user in users
            td= user.email
                button edit
                button delete
    tr
        each user in users
            td= user.age
                button edit
                button delete


