body {
    background-color: lightskyblue;}

table, td, th {
    border: 1px solid black;}

table {
    border-collapse: collapse;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: whitesmoke;
    width: 600px;}

th {
    }